* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 32px;
    font-family: 'PT Sans Narrow',sans-serif;
}

body > * {
    margin: 0.33rem 0.67rem;
}

/* COLORS */

.bright {
    color: #f0ead2;
}
.bg-bright {
    background-color: #f0ead2;
}

.medium-bright {
    color: #dde5b6;
}
.bg-medium-bright {
    background-color: #dde5b6;
}

.medium {
    color: #adc178;
}
.bg-medium {
    background-color: #adc178;
}

.medium-dark {
    color: #a98467;
}
.bg-medium-dark {
    background-color: #a98467;
}

.dark {
    color: #6c584c;
}
.bg-dark {
    background-color: #6c584c;
}

.bg-gradient {
    background: linear-gradient(#adc178,#dde5b6) repeat-x;
}


/* TYPESET */

@font-face {
    font-family: Dosis;
    src: local("Dosis"), url("./fonts/Dosis/Dosis-VariableFont_wght.ttf") format("TrueType");
}

@font-face {
    font-family: "Josefin Sans";
    src: local("Josefin Sans"), url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("TrueType");
}

.dosis {
    font-family: Dosis, sans-serif;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
}

.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}

.fs-32 {
    font-size: 32px;
}
.fs-24 {
    font-size: 24px;
}
.fs-20 {
    font-size: 20px;
}

p,h1,a {
    line-height: 150%;
}

h1 {
    padding: 0.5em;
    margin: 0.67em 0.5rem;
    padding-left: 15%;
}

::selection {
    color: #a98467;
    background-color: #dde5b6;
}

.text-shadow{
    text-shadow: 3px 3px 1px #6c584c;
}

/* INTERFACE */

button {
    flex-grow: 1;
    font-size: 1.5em;
    padding: 0.25em;
    margin: 0.25em 0;
    text-align: center;
    line-height: 130%;
}
button.map-button {
    color: #f0ead2;
    background-color: #6c584c;
    border: 2px solid #6c584c;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 2px 4px 6px black;
    transition: 200ms;
}
button.map-button:hover {
    color: #a98467;
    box-shadow: 3px 6px 9px black;
    transform: scale(1.01);
}
button.map-button:focus {
    color: #f0ead2;
    animation: button-gradient 200ms ease-in-out 0ms 1 normal forwards;
    box-shadow: none;
    transform: scale(0.99);
}


/* SECTIONS */

#figure {
    border: 5px solid #a98467;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}
/*#figure>div {
    position: relative;
    z-index: -1;
}
*/
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em;
}

.box-shadow {
    box-shadow: 7px 5px 2px #6c584c;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em;
    width: auto;
    margin-bottom: 0;
}

footer p {
    text-align: center;
}

/* ANIMATIONS */

@keyframes button-gradient {
    0% {
        background: radial-gradient(circle at center, #a98467 0%, #6c584c 0%, #6c584c 100%);
    }
    10% {
        background: radial-gradient(circle at center, #a98467 10%, #6c584c 10%, #6c584c 100%);
    }
    20% {
        background: radial-gradient(circle at center, #a98467 20%, #6c584c 20%, #6c584c 100%);
    }
    30% {
        background: radial-gradient(circle at center, #a98467 30%, #6c584c 30%, #6c584c 100%);
    }
    40% {
        background: radial-gradient(circle at center, #a98467 40%, #6c584c 40%, #6c584c 100%);
    }
    50% {
        background: radial-gradient(circle at center, #a98467 50%, #6c584c 50%, #6c584c 100%);
    }
    60% {
        background: radial-gradient(circle at center, #a98467 60%, #6c584c 60%, #6c584c 100%);
    }
    70% {
        background: radial-gradient(circle at center, #a98467 70%, #6c584c 70%, #6c584c 100%);
    }
    80% {
        background: radial-gradient(circle at center, #a98467 80%, #6c584c 80%, #6c584c 100%);
    }
    90% {
        background: radial-gradient(circle at center, #a98467 90%, #6c584c 90%, #6c584c 100%);
    }
    100% {
        background: radial-gradient(circle at center, #a98467 100%, #6c584c 100%, #6c584c 100%);
    }
  }